# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# forge runs
run
run-data
src/generated/resources/.cache

# local dependency jars (drop DragonMineZ dev jar here locally)
libs/*.jar
